@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");

.App {
  font-family: sans-serif;
  height: 100vh;
  background: linear-gradient(
    45deg,
    #082032,
    #334756,
    #007965,
    #ff4c29
  );
  background-size: 300% 300%;
  animation: gradient 10s infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
